.header-container {
   max-width: 400px;
   background-color: var(--dark-blue);
   border-bottom-left-radius: var(--radius-val);
   border-bottom-right-radius: var(--radius-val);
   margin-top: 70px;
}

header {
   position: relative;
   background-color: var(--header-blue);
   color: var(--white);
   border-radius: var(--radius-val);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   margin-bottom: -30px;
   min-height: 125px;
   z-index: 999;
}

.avatar {
   width: 60px;
   height: auto;
   border: 3px solid var(--white);
   border-radius: 90px;
}

.subhead {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-flow: column nowrap;
   margin-left: 15px;
}

p {
   font-size: .9rem;
   margin: 0;
   padding-bottom: 5px;
}

h3 {
   font-size: 1.5rem;
   font-weight: 400;
   margin: 0;
   padding: 0;
}

.parameters {
   display: flex;
   justify-content: space-evenly;
   background-color: var(--dark-blue);
   border-bottom-left-radius: var(--radius-val);
   border-bottom-right-radius: var(--radius-val);
   z-index: 1;
   list-style-type: none;
   padding: 50px 0 20px 0;
}

.param-links {
   cursor: pointer;
   color: var(--gray-blue);
}

.param-links:hover {
   color: #fff;
}

.active {
   color: #fff;
}


@media (min-width: 768px) {
   .header-container {
      min-width: var(--col-w);
      max-width: var(--col-w);
      margin-top: 0;
   }

   header {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 30px 25px 30px 25px;
      min-height: 365px;
   }

   img {
      margin-bottom: 20px;
   }

   h3 {
      font-size: 2rem;
   }

   .subhead {
      margin: 0;
   }

   .parameters {
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 1rem;
      padding: 50px 25px 30px 25px;
      flex-grow: 1; 
   }

}

@media (min-width: 1075px) {

   header {
      min-height: 200px;
   }
}